.detailContainer {
  background-color: white;
  max-width: fit-content;
  max-height: fit-content;
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 9%);
  flex-direction: column;
  vertical-align: auto;
}
.detailImg {
  max-width: 45%;
  align-self: center;
}
.detailTextContainer {
  margin: 1rem;
}
.detailTitleCountry {
  font-size: large;
}
