.countriesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-auto-rows: auto;
  /* espacio entre cards */
  grid-gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.loadingTitle {
  font: 1.5rem "Roboto", sans-serif;
  margin: 2rem 0;
}
.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #e0e7ff;
  border-radius: 50%;
  border-top-color: #4f46e5;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
