.error-container {
  justify-self: center;
  width: 20%;
  margin: 2rem;
  padding: 1rem;
  align-self: center;
  border: 2px solid #c51b1b;
  border-radius: 5px;
  background-color: white;
}

.error-text {
  color: #c51b1b;
}
