button {
  padding: 0.5rem 2.1rem;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  transition: all 0.3s ease;
  border: 1px solid rgba(0 0 0 / 15%);
}
button:hover {
  opacity: 0.7;
  color: #475569;
}

.primary {
  background-color: var(--primary-color);
  color: #f8fafc;
}
.primary:disabled {
  background-color: var(--disabled-color);
}

.secondary {
  background-color: var(--secondary-color);
}
