.formContainer {
  text-align: center;
  display: flex;
  justify-self: center;
  margin: 2.5rem;
  padding: 2.5rem;
  box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 9%);
  flex-direction: column;
  align-self: center;
  color: var(--text);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.danger {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--error-color);
  border-radius: 4px;
  color: var(--error-color);
}

/* input {
  margin: 0.6rem;
  max-width: 20rem;
  max-height: 2rem;
  padding: 0.4rem;
} */
