.container {
  color: black;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(0 0 0 / 8%);
  transition: all 0.5s ease-in-out;
}
.container:hover {
  box-shadow: 6px 5px 6px 6px rgb(0 0 0 / 9%);
}
.img {
  width: 40%;
  align-self: auto;
}
.textContainer {
  margin: 0.5rem;
  width: 100%;
}

.titleCountry {
  font-size: large;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
p {
  font-weight: 400;
}
