.containerPagination {
  list-style: none;
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
}
.ulContainer {
  list-style: none;
  display: flex;
  margin-bottom: 1rem;
}
.liContainer {
  padding: 0.2rem;
}

a {
  text-decoration: none;
}
