.landingContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landingContent {
  text-align: center;
}
.landingTitle {
  font-size: clamp(1.5rem, 0.7097rem + 4.2149vw, 4.6875rem);
  color: darkslateblue;
  font-weight: 700;
}
.landingButton {
  display: inline-block;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 10px 60px;
  border-radius: 40px;
  margin-top: 2.1rem;
  opacity: 0.85;
  color: aliceblue;
  background-color: #6366f1;
}
.landingButton:hover {
  color: white;
  background-color: #c7d2fe;
  transition: all 0.5s ease-in-out;
}
.activeHome {
  text-decoration: none;
}

video {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}
@media (min-width: 1536px) {
  .landingTitle {
    color: aliceblue;
  }
}
@media (min-aspect-ratio: 16/9) {
  .backVideo {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .backVideo {
    width: auto;
    height: 100%;
  }
}
