.navContainer {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid #64748b;
  background-color: var(--background-nav);
}
/* form {
  display: flex;
} */
.searchInput {
  margin-right: 1.2rem;
  padding: 0.8rem;
  border-radius: 10px;
  border: 2px inset;
  height: 100%;
  width: auto;
}

.filterContinent,
.filterActivity,
.order {
  padding: 0.5rem;
  border: 2px inset rgba(2, 51, 95, 0.3);
  border-radius: 20px;
  background-color: var(--background-option);
}
.filterContinent {
  margin-left: 2rem;
}
.order {
  margin-right: 2rem;
}
