.navContainer {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid #64748b;
  background-color: var(--background-nav);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 20;
}

.searchInput {
  margin-right: 1rem;
  padding: 0.8rem;
  border-radius: 10px;
  border: 1px inset rgba(0 0 0 / 5%);
  height: 100%;
  width: 40vh;
}

.filterContinent,
.filterActivity,
.order {
  padding: 0.5rem;
  border: 2px inset rgba(2, 51, 95, 0.3);
  border-radius: 20px;
  background-color: var(--background-option);
}
.filterContinent {
  margin-left: 2rem;
}
input {
  outline: none;
}
option {
  border-radius: 10px;
  background-color: var(--background-option);
}
option:hover {
  background-color: var(--background-active);
}